:root {
  --blanco: white;
  --negro: black;
}

* {
  margin: 0;
  padding: 0;
}

header {
  /*background-color: peru;*/
  color: var(--blanco);
  /* Gradiente para que se vea el gradiente en chrome*/
  background-image: -webkit-linear-gradient(top, #d7d 0%, #068 100%);
  /* Gradiente para que se vea el gradiente en Opera*/
  background-image: -o-linear-gradient(top, #d7d 0%, #068 100%);
  /* Gradiente para que se vea el gradiente en Mozilla*/
  background-image: -moz-linear-gradient(top, #d7d 0%, #068 100%);
  /* Gradiente para que se vea el gradiente en Microsoft Explorer*/
  background-image: -ms-linear-gradient(top, #d7d 0%, #068 100%);
  /*Regla basica*/
  background-image: linear-gradient(top, #d7d 0%, #068 100%);
}
section {
  background-color: antiquewhite;
}
footer {
  background-color: blanchedalmond;
}
h1 {
  text-align: center;
  text-transform: capitalize;
  color: var(--negro);
}
/*TAMBIEN SE PUEDE PONER EN EL LINK*/
@media print {
  body {
    font-size: 10pt;
  }
}
@media screen {
  body {
    font-size: 13px;
  }
}
@media screen, print {
  body {
    line-height: 1.2;
  }
}
/*SELECTOR DESCENDENTE - se aplica al span que esta dentro de un p*/
p span {
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: large;
}

.subrayado {
  background-color: chartreuse;
  color: darkgreen;
}
