/* Nuestra hoja de estilos */

* {
  margin: 0;
  padding: 0;
}

/* varibales globales */
:root {
  --azul: #003580;
  --blanco: #fff;
  --negro: 
  --marron: peru;
  --verde: lime;
  --rosa: pink;
  --a_nav: #003580;
  --main: #fafafa;
  /*--color-primary: #003580;*/
  --color-primary:#ed1d24;
  --color-accent:#000; ;
  --color-pie: #f7f7f7;
  --color-pie-dark: #6f777b;
}
/* estilos a todas las etiquetas */

body {
  color: var(--negro);
  font-size: 1rem; /* 16px */
  /*line-height: 1.3rem;*/
  font-weight: 400;
  /* font-family: Arial, Helvetica, sans-serif;*/
  text-align: justify;
  box-sizing: content-box;
  font-family: sans-serif;
  line-height: 1.15;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  margin: 1rem 0;
  color: var(--blanco);
}
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}

h2 {
  color:  var(--color-primary);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size:2em ;
}

p {
  margin: 1rem 0;
}


main,
.pie, .container, .cabeza {
  max-width: 1024px;
  box-sizing: border-box;
  margin: auto; /* centrar el contenido en  horizontal*/
}

header {
  background-color:var(--color-accent);
  padding: 1rem;
}

main {
  background-color: var(--blanco);
  padding: 1rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}
 nav#header {
  background: var(--color-primary);
  border-bottom: 1px solid var(--negro);
  color:var(--blanco);
  padding: 10px;
  position: sticky;
  top:0;
  z-index: 1;
}

nav#header ul {
  /*posicionar los li en horizontal y dividir el espacio*/
  display: flex;
  justify-content: space-between;
}

nav#header ul li {
  list-style: none; /* quitar puntito */
  width: 100%;
  text-align: center;
  padding: 5px 0;
}

nav#header ul li:hover {
  background-color: var(--color-accent);
}

nav#header a {
  color: var(--blanco);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

section {
  position: relative;
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

article {
  padding: 1em;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

footer {
  background: var(--color-pie);
  border-top: 1px solid #dee0e2;
  margin: auto;
  padding: 1rem;
  
}

footer a,
li {
  color: var(--color-pie-dark);
  text-decoration: none;
  list-style: none;
  line-height: 1.5em;
}
/*
footer section {
  width: 100%;
  padding: 2rem;
  padding-left: 5rem;
}*/

.pie section {
  width: 100%;
  padding: 2rem;
  padding-left: 2rem;
  margin: auto;
}

img {
  margin: auto;
}
.alinear_dcha{
    text-align: right;
    width: 100%;
    
}

.pie{
  display: flex;
  justify-content: space-between;
}

.comic{
  width:210px; 
  height:360px;
}